@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(18 18 18);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.custom-container {
  padding-left: 50px;
  padding-right: 50px;
}

.custom-container {
  max-width: 1400px;
  margin: auto;
}

nav {
  z-index: 20;
}

.blur-design {
  z-index: 1;
}

#about {
  text-align: -webkit-center;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}

.divider {
  background: #292929;
  border: none;
  border-radius: 5px;
  padding: 1px;
  margin: 35px auto;
}

.email input, textarea{
  background: transparent !important; 
}

@media (max-width: 640px) {
  .hero-heading {
    margin: auto;
  }
}

@media (max-width: 1024px) {
  .divider {
    margin-top: 80px;
  }
  .project-divider{
    margin-top: 10px !important;
    margin-bottom: 40px !important;
  }
}
